
@model IEnumerable<PurchaseOrderApp.Models.PurchaseOrder>

@{
    ViewData["Title"] = "List of Purchase Orders";
}



<h1>List of Purchase Orders</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table new-style">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PurchaseOrderID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PurchaseOrderID">Details</a> |
                <a asp-action="Submit" asp-route-id="@item.PurchaseOrderID">Submit</a> |
                <a asp-action="Delete" asp-route-id="@item.PurchaseOrderID">Delete</a>

            </td>
        </tr>

}

    </tbody>
</table>